@model ContactForm
@using My_Second_Umbraco_7_Site.Models
@using My_Second_Umbraco_7_Site.Controllers

@using (Html.BeginUmbracoForm<ContactController>("SubmitMessage"))
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="form-group row">
            <div class="col-md-12">
                <div class="text-danger">Please correct the following errors and submit the form again:</div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    if (@TempData["Success"] != null && !string.IsNullOrWhiteSpace(@TempData["Success"].ToString()))
    {
        <div class="form-group row">
            <div class="col-md-12 text-info">
                @TempData["Success"].ToString()
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="col-md-6 field">
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First name" })
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 field">
            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last name" })
            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 field">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-mail" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6 field">
            @Html.LabelFor(x => x.Phone)
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone" })
            @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 field">
            @Html.LabelFor(x => x.Message)
            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Message", rows = "10", cols = "30" })
            @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 field">
            <input type="submit" id="submit" class="btn btn-primary" value="Send Message">
        </div>
    </div>
}
