@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using My_Second_Umbraco_7_Site.Models

<nav class="fh5co-nav" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text-left menu-1">
                            <ul>
                                @RenderNavChildItems(Model)
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                                <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center menu-2">
                <div id="fh5co-logo">
                    <h1>
                        <a href="/">
                            Paper<span>.</span>
                            <small>Blog Theme</small>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</nav>

@helper RenderNavChildItems(List<NavigationListItem> listItems)
{
if (listItems != null)
{
    foreach (var item in listItems)
    {
            //TODO: Add support for active highlight when on a child page
            <li class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.HasKids ? "has-dropdown" : null)">
                @if (!String.IsNullOrWhiteSpace(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url">@item.Link.Text</a>
                }

                @if (item.HasKids)
                {
                    <ul class="dropdown">
                        @RenderNavChildItems(item.Items)
                    </ul>
                }
            </li>
    }
}
}
